@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0 !important;
  line-height: normal;
}

:root {
  --clr-main: #312d94;
  --clr-white: white;
  --clr-light-white: #f4f4f4;
}

/* ------------------- */
/* Bootstrap overide */
.btn {
  font-weight: 700;
}
.btn-primary {
  background-color: white;
  color: var(--clr-main);
}

.text-light {
  color: var(--clr-white) !important;
}

/* ------------------- */
/* ------------------- */
/* ------------------- */
/* Predefined classes */
.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-option {
  font-weight: initial !important;
  color: var(--clr-white) !important;
  background: rgba(94, 94, 94, 0.5);
  width: 100%;
  max-width: 300px;
}
/* ------------------- */
/* ------------------- */
/* ------------------- */

body {
  color: var(--clr-light-white);
  font-family: "Poppins", sans-serif;
  background: radial-gradient(#312d94, #252260);
}

a {
}

svg {
  font-size: 1.5rem;
  color: white;
}

/* ------------------- */
/* LOGO */
.logo {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  color: var(--clr-white);
}

/* ------------------- */
/* HEADER */
header {
  min-height: 80vh;
}

/*  */
/* Progress Bar Styling */
.progress-bar {
  width: 100%;
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: rgba(243, 243, 243, 0.1);
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: #4caf50;
  border-radius: 5px;
}

.question-parent {
}

.question-container {
  min-height: 50vh;
  background-color: rgba(3, 10, 36, 0.9);
}
