@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0 !important;
}

:root {
  --clr-main: #312d94;
}

/* ------------------- */
/* Bootstrap overide */
.btn {
  font-weight: 700;
}
.btn-primary {
  background-color: white;
  color: var(--clr-main);
}

/* ------------------- */
/* ------------------- */
/* ------------------- */
/* Predefined classes */
.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ------------------- */
/* ------------------- */
/* ------------------- */

body {
  color: white;
  font-family: "Poppins", sans-serif;
}

a {
}

svg {
  font-size: 1.5rem;
  color: white;
}

/* ------------------- */
/* LOGO */
.logo {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  color: white;
}

/* ------------------- */
/* HEADER */
header {
  min-height: 100vh;
  background: radial-gradient(#312d94, #252260);
}

/*  */
